body {
	width: 100%;
	overflow-x: hidden;
	box-sizing: content-box;
}

/* navbar */
.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12pt;
	background-color: rgb(238, 238, 238);
}
.sidebar > ul {
	list-style: none;
}

.custom-nav {
	height: 60px;
	padding: 0px 20px;
	
}
.custom-nav > a, .custom-nav > ul > li{
	font-size: 16pt;
}
.custom-navbar-toggler-icon {
	width: 30px;
	height: 30px;
}

.search-textbox {
	width: 150px;
	height: 40px;
    font-size: 16pt;
}

.search-button {
	height: 40px;
    font-size: 16pt;
    line-height: 16px;
}

/* Basic Calculator */
.calc-title {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.basic-calculator {
	margin: auto;
	border: 1px solid black;
	font-size: 26px;
}

.custom-row-height-lg {
	height: 50px;
}

.in-out-panel {
	overflow-x: hidden;
	text-align: right;
}

#note {
	overflow-x: hidden;
	text-align: left;
	color: grey;
}

#memory {
	float: right;
}

.keypad {
	background-color: white;
	border: 0.5px solid grey;
	cursor: pointer;
	transition: 0.3s;
}

.keypad:hover {
	transform: translate(-1px,-1px);
	background-color: #E9ECEF;
}

.custom-row-height {
	height: 40px;
	text-align: center;
}

.equal-keypad {
	padding: 0;
	height: 80px;
}

.keypad[data-id='e'] {
	text-align: center;
	background-color: #66a3ff;
	/* 80px = height, then minus 2 borders (top and bottom, 1px each) */
	line-height: 79px;
}

#result > span {
	color: grey;
	transition: 0.5s;
}

/* when clicking equal button. */
.final-result {
	font-size: 40px;
	color: black;
	transform: translateY(-30%);
	line-height: 30px;
}

/* Extended calculator */
/* .out-panel-extended-mode, .extended-calculator, .extended-mode {
	display: none;
} */

.extended-calculator, .extended-mode {
	display: none;
}

.calc-panel {
	display: block;
	margin: auto;
	border: 1px solid black;
	height: 150px;
	background-color: lightgrey;
}

@media only screen and (max-width: 500px) {
	.container {
		width: 100%;
	}

	.basic-calculator {
		font-size: 20px;
		line-height: 40px;
	}
}

@media only screen and (min-width: 501px) {
	.container {
		width: 90%;
	}

	.basic-calculator {
		font-size: 26px;
		line-height: 40px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 720px;
		margin: auto;
	}
	.basic-mode {
		display: none;
	}

	.extended-mode {
		display: block;
	}

	.extended-calculator {
		display: inline-block;
	}

	.basic-calculator {
		display: inline-block;
	}
} 















