body {
	width: 100%;
	overflow-x: hidden;
	box-sizing: content-box;
}

/* navbar */
.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12pt;
	background-color: rgb(238, 238, 238);
}
.sidebar > ul {
	list-style: none;
}

.custom-nav {
	height: 60px;
	padding: 0px 20px;
	
}
.custom-nav > a, .custom-nav > ul > li{
	font-size: 16pt;
}
.custom-navbar-toggler-icon {
	width: 30px;
	height: 30px;
}

.search-textbox {
	width: 150px;
	height: 40px;
    font-size: 16pt;
}

.search-button {
	height: 40px;
    font-size: 16pt;
    line-height: 16px;
}

/* Basic Calculator */
.calc-title {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.basic-calculator {
	width: 80%;
	margin: auto;
	border: 1px solid black;
	font-size: 26px;
}

.custom-row-height-lg {
	height: 50px;
}

.in-out-panel {
	/* border: 1px solid black; */
	overflow: hidden;
	text-align: right;
	overflow: visible;
}

.keypad {
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	transition: 0.3s;
}

.keypad:hover {
	transform: translate(-1px,-1px);
	background-color: #E9ECEF;
}

.custom-row-height {
	height: 40px;
	text-align: center;
}

.equal-keypad {
	padding: 0;
	height: 80px;
}

.keypad[data-id='e'] {
	text-align: center;
	/* 80px = height, then minus 2 borders (top and bottom, 1px each) */
	line-height: 79px;
}

#result > span {
	color: grey;
	transition: 0.5s;
}

/* when clicking equal button. */
.final-result {
	font-size: 60px;
	color: black;
	transform: translateY(-35%);
	line-height: 30px;
}

/* Extended calculator */
.extended-calculator {
	display: none;
}

@media only screen and (min-width: 720px) {
	.extended-calculator {
		display: inline-block;
		float: left;
		width: 50%;
		height: 200px;
		background-color: orange;
	}
	.basic-calculator {
		width: 50%;
		float: right;
	}
	
} 
















