.keypad {
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
}

.keypad:hover {
	transform: translate(-1px,-1px);
}

.output {
	border-left: 1px solid black;
	border-right: 1px solid black;
	overflow: hidden;
	text-align: right !important;
}

.output-top {
	border-top: 1px solid black;	
}

.result > span {
	color: grey;
	transition: 0.5s;
}

.final-result > span {
	font-size: 30pt;
	color: black;
	transform: translateY(-50%);
	line-height: 30px;
}

.keypad[data-id='e'] {
	line-height: 74px;
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12pt;
	background-color: rgb(238, 238, 238);
}
.sidebar > ul {
	list-style: none;
}

.custom-nav {
	height: 60px;
	padding: 0px 20px;
	
}
.custom-nav > a, .custom-nav > ul > li{
	font-size: 16pt;
}
.custom-navbar-toggler-icon {
	width: 30px;
	height: 30px;
}

.search-textbox {
	width: 150px;
	height: 40px;
    font-size: 16pt;
}

.search-button {
	height: 40px;
    font-size: 16pt;
    line-height: 16px;
}

.calculator-wrapper {
	padding: 15px;
	width: 100%;
	margin-top: 50px;
}
.calculator {
	width: 60%; 
	margin: 0px; 
	text-align: center;
}

.extended-calculator {
	width: 60%;
	height: 295px;
	background-color: orange;
	float: right;
	display: inline-block;
	margin-top: 65px;
	border: 1px solid black;
}

.custom-row-height {
	height: 40px;
}

.custom-row-height-lg {
	height: 50px;
}
.custom-row-width {
	width: 48.3%;
}

@media only screen and (max-width: 700px) {
	.calculator {
		width: 70%;
		margin: auto;
	}
	.extended-calculator {
		display: none;
	}
} 












